<!-- <ng-content select="h1"></ng-content>



 <div *ngIf="nome != 'Leo' ">
    <p [ngClass]="{'active': valor,  'disabled': !valor}"> NgClass</p>      
    <p [ngStyle]="{'heigth': heigthPx, 'background': backgroundColor }"> NgClass</p>
</div>

<hr>

<input [(ngModel)]="nome"> {{ nome }}
<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">
    {{ item.nome }}

<hr>

</li> 


<ng-template [ngIf]="true">
    <p>
        true
    </p>
</ng-template>


<ng-content select="h3"></ng-content> -->



<!-- <input [(ngModel)]="nome"> {{ nome }}
<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">
    {{ item.nome | uppercase}}

</li> -->

<!-- {{ date | date: 'dd/MM/yyyy' }} -->